*{
	box-sizing: border-box;
}
body{
	margin: 0 auto;
	font-family: 'Roboto', arial;
	background-color: #f5f5f5;
	position: relative;
}
header{
	position: relative;
	background-image: url(images/shava.png);
		background-position: center;
	background-repeat: no-repeat;
}
header::after{
	content: '';
	display: block;
	background-image: url(images/separator.png);
	background-position: center;
	height:5px;
}
a{
	text-decoration: none;
	color: #ccc;
}
a:visited{
	color: #ccc;
	cursor: pointer;
}
.info_block:hover {
	background-color: #7F7F7F;
	box-shadow: 0px -5px 1px 0px #7F7F7F;
}
.info_block:hover p, .info_block:hover h2,.info_block:hover .stars_descr, .info_block:hover .stars_descr_stars {
	color: white;
}
.img_block{
	max-width: 100%;
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: auto;
}
.img_wrap{
	background-color: #ccc;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.img_feedback{
	background-color: #ccc;
	width: 100px;
	height: 100px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.wrap_authors{
	float: right;
	display: flex;
	margin-left: 8px;
}
.wrap{
	padding: 24px;
	max-width: 960px;
	min-width: 320px;
	display: block;
	margin: 0 auto;
	
}
.wrap::after{
	content: '';
	display: block;
	clear: both;
}
.header_wrap{
	height: 160px;
}
.logo{
	width: 110px;
	float: right;
}
.logo::before{
	content: '';
	display: block;
	float: left;
	background-image: url(images/sprite.png);
	background-position: 110px 0px;
	width: 110px;
	height: 32px;
}
.descr_logo{
	font-size: 16px;
	float: left;
	color: #fff;
}
#nav-icon4 {
  width: 30px;
  height: 15px;
  position: relative;
  float: left;
  top: 8px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
#nav-icon4 span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 9px;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 18px;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 18px;
  left: 8px;
}
#nav-icon4.open li{
	display: block;
	margin: 8px;
}
#nav-icon4.open .header_menu{
	background-color: #131c25;
	border-radius: 5px;
}
.header_menu{
	display: flex;
	list-style: none;
	float: right;
	font-size: 16px;
	color: #fff;
	padding: 0;
	flex-direction: column;
	position: relative;
	margin: -8px -114px 0 0;
}
.home::before{
	content: '';
	display: block;
	position: absolute;
	border: 10px solid transparent;
	border-right: 10px solid #131c25;
	top: 0;
	left: 0;
	margin-left: -18px;
	margin-top: 8px;
}
.header_menu li{
	display: none;
}
.header_menu a{
	text-decoration: none;
	color: #fff;
	padding-left: 8px;
}
li:hover .home{
	border-left: 2px solid #4acaff;
}
li:hover .feedback{
	border-left: 2px solid #4acaff;
}
li:hover .places{
	border-left: 2px solid #4acaff;
}
li:hover .contacts{
	border-left: 2px solid #4acaff;
}
.active{
	border-left: 2px solid #4acaff;
	margin-left: 0;
}
button[class="main_btn"]{
  border-radius: 2px;
  background-color: rgb(74, 202, 255);
  min-width: 100px;
  max-width: 140px;
  height: 32px;
  border:0;
  color: #fff;
  font-size: 14px;
  font-style: italic;
	
}
button[class="main_btn"]::before{
	content: '';
	display: block;
	background-image: url(images/loop.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	float: left;
	margin-top: 2px;
}
button[type="submit"]:hover{
	background-color: #2abefb;
	cursor: pointer;
}
#search{
	border-radius: 2px;
  	background-color: rgb(255, 255, 255);
	width: 175px;
	width: calc(100% - 2px);
  height: 32px;
  border: 0;
  padding: 8px;
  margin:0 auto;
}
#places, #feedback{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 272px;
	margin: 0 auto;
	padding: 8px 8px 16px;
	background-color: #131c25;
	border-radius: 5px;
	position: absolute; 
	top: 50%; 
	left: 50%; 
	margin-top: -100px;
	margin-left: -136px;
	z-index: 5;
}
#feedback{
	position: fixed; 
	top: 24px; 
	left: 50%; 
	margin-top: 100px;
	margin-left: -136px;
}
.form{
	border-radius: 2px;
  	background-color: rgb(255, 255, 255);
	width: 212px;
  height: 32px;
  border: 0;
  padding: 8px;
  margin:8px auto;
}
.file{
	width: 212px;
  height: 32px;
  border: 0;
  padding: 0;
  margin:8px auto;
	text-align: center;
	color: #fff;
}
.wrap>h1{
	font-size: 28px;
	color: #fff;
	font-style: italic;
	text-align: center;
}
.wrap_search{
display: flex;
justify-content: center;
}
.btn {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(74, 202, 255);
  border-radius: 5px;
  background-color: rgba(56, 56, 56, 0);
  width: 284px;
  height: 64px;
  padding: 24px;
  text-decoration: none;
	color: #4acaff;
	margin: 8px;
}
.btn:hover{
	background-color: #4acaff;
	color: #fff;
}
.buttons{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.markers{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	position: absolute;
	color: black;
	top: 50%; 
	right: 0; 
	margin-top: -100px;
	margin-left: -138px;
}

.markers p{
	font-size: 16px;
	text-shadow: #fff 1px 1px 0, #fff -1px -1px 0, 
                 #fff -1px 1px 0, #fff 1px -1px 0;
}
.green, .yellow, .red{
	margin: 0 8px;
	float: left;
}
.green::before{
	content: '+';
	background-image: url(images/sprite.png);
	background-position:0px 0px;
	background-repeat: no-repeat;
	text-align: center;
	width: 42px;
	height: 64px;
	float: left;
	color: #fff;
	padding-top: 11px;
	text-indent: 2px;
	margin-left: 12px;
}
.yellow::before{
	content: '+';
	display: block;
	background-image: url(images/sprite.png);
	background-position: -42px 2px;
	background-repeat: no-repeat;
	width: 42px;
	height: 66px;
	margin-left: 10px;
	color: #fff;
	padding-top: 12px;
	text-indent: 17px;
	float: left;
}
.map{
	position: relative;
}
.red::before{
	content: '+';
	display: block;
	background-image: url(images/sprite.png);
	background-position: -84px 0px;
	background-repeat: no-repeat;
	width: 41px;
	height: 64px;
	margin-left: 10px;
	color: #fff;
	font-size: 14px;
	padding-top: 12px;
	text-indent: 16px;
	float: left;
}
#places h1, #feedback h1{
	color: #fff;
	font-size: 20px;
}
.e-mail::before{
	content: 'contact@twobites.com.ua';
	display: block;
	background-image: url(images/sprite.png);
	background-position: -222px 0px;
	background-repeat: no-repeat;
	width: 36px;
	height: 28px;
	color: #fff;
	font-size: 12px;
	text-indent: 40px;
	padding-top: 2px;
}
#map{
	width: 100%;
	height: 720px;
	display: block;
	border: 1px solid #fff;
}
.descr_footer{
	font-size: 12px;
	color: #ccc;
	margin: 0;
	float: left;
}
.btn_place{
	 border-radius: 2px;
  background-color: rgb(74, 202, 255);
  min-width: 100px;
  max-width: 140px;
  height: 32px;
  border:0;
  color: #fff;
  font-size: 14px;
  font-style: italic;
 	margin: 0 auto;
}
footer{
	min-width: 320px;
	max-height: 960px;
	margin: 0;
	background-color: #131c25;
}
footer::before{
	content: '';
	display: block;
	background-image: url(images/separator.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	min-width: 320px;
	max-width: 960px;
	height:5px;
}
.info_block{
		padding-top: 0;
		padding: 0 0 16px 0;
		margin: 16px auto;
		background-color: #fff;
		border-radius: 6px 6px 0 0;
		height: 480px;
	}
.adress_shava{
	color: #fff;
	padding: 4px;
	float: right;
	position: relative;
	width: 80px;
	border-radius: 0 5px 0 0;
	right: 0;
	top: -100px;
	background-color: #131c25;
	font-size: 10px;
	z-index: 2;
	height: 50px;
}
.hot_wrap{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-content: space-between;
	width: 272px;
}
.price{
	padding-top: 16px;
	color: green;
	width: 32px;
	text-align: center;
}
.vegan_descr{
	padding: 8px;
	font-size: 10px;
	background-color: #131c25;
	border-radius: 2px;
	display: none;
	color: #fff;
	font-style: italic;
	margin: 0;
}
.hot_descr{
	padding: 8px;
	font-size: 10px;
	background-color: #131c25;
	border-radius: 2px;
	display: none;
	color: #fff;
	font-style: italic;
	margin: 0;
}
.price_descr{
	padding: 8px;
	font-size: 10px;
	background-color: #131c25;
	border-radius: 2px;
	display: none;
	color: #fff;
	font-style: italic;
	margin: 0;
}
.vegan_descr::before{
	display: block;
	content: '';
		border: 10px solid transparent;	
		border-top: 10px solid #131c25;
		position: absolute;
		top: 26px;
}
.vegan:hover .vegan_descr{
	display: block;
	position: absolute;
	margin-top: -26px;
	margin-left: 26px;
}
.hot_descr::before{
	display: block;
	content: '';
		border: 10px solid transparent;	
		border-top: 10px solid #131c25;
		position: absolute;
		top: 26px;
}
.hot:hover .hot_descr{
	display: block;
	position: absolute;
	margin-top: -74px;
	margin-left: 16px;
}
.price_descr::before{
	display: block;
	content: '';
		border: 10px solid transparent;	
		border-top: 10px solid #131c25;
		position: absolute;
		top: 26px;
}
.price:hover .price_descr{
	display: block;
	position: absolute;
	margin-top: -54px;
	margin-left: 10px;
}
.hot::before{
	content: '';
	display: block;
	background-image: url(images/sprite.png);
	background-position: -190px 0px;
	margin: 4px;
	width: 32px;
	height: 40px;
}
.vegan::after{
	content: '';
	display: block;
	background-image: url(images/sprite.png);
	background-position: -151px 0px;
	margin: 4px;
	width: 38px;
	height: 40px;

}
.none::before{
	content: '';
	display: block;
	background-size: 100%;
	position: relative;
	top: -100px;
	margin: 4px;
	width: 24px;
	height: 24px;
}
.info_block_text_wrap{
	margin:4px 16px 16px;
}

.about{
	height: auto;
}

#about_descr, #about_descr_team{
	font-size: 10px;
	font-style: italic;

}
.rounded{
	border-radius: 50%;
	margin-bottom: 16px;
}
.info_block_text_wrap h2{
	text-align: center;
	color: #4f4f4f;
	font-size: 24px;
}
.info_block_text_wrap p{
	text-align: left;
	color: #646464;
	font-size: 12px;
}
.about p{
	font-size: 16px;
}
.stars_descr, .stars_descr_stars{
	font-size: 9px;
	padding:0 4px;
	color: #646464;
	border-right: 1px solid #ccc;
}
.stars_descr_stars{
	border: none;
}
.none_border{
	border-left:0;
}
.stars{
	margin: 16px auto;
	position: relative;
	padding: 16px 32px 16px;
	width: auto;
	display: flex;
	flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.004);
}
.hot_wrap::after{
	content: '';
	display: block;
	clear:both;
}

.stars_descr_stars::after{
	content: '';
	display: block;
	background-image: url(images/star.png);
	background-position: 0px 0px;
	width:110px;
	height: 22px;
	background-repeat: repeat-x;
	margin-right: 10px;
	float: right;
}
.article_descr{
	border-left: 1px solid #ccc;
	padding-left: 4px;
	margin-bottom: 16px;
}
.modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
	color: #fff;
}
.btn_popup{
	color: #fff;
	background-color: #4acaff;
	border-radius: 2px;
	width: 100px;
	text-align: center;
	margin: 8px auto;
}
.btn_popup:hover{
	background-color: #2abefb;
	cursor: pointer;
}
.btn_popup:visited{
	color: #fff;
}

#overlay {
	z-index:3; 
	position:fixed; 
	background-color:#000;
	opacity:0.8; 
	width:100%; 
	height:100%; 
	top:0;
	left:0;
	cursor:pointer;
	display:none;
}
@media (min-width: 600px){

.img_feedback{
	margin: 0;
}
.btn_popup{
	position: absolute;
	top: 31px;
	right: 42px;
}
.adress_shava, .hot::before{
	top: -150px;
}
.img_wrap{
		border-radius: 5px 5px 0 0;
		width: 100%;
		height: 150px;
}
.info_block{
		padding-top: 0;
		margin: 16px 8px;
		float: left;
		width: calc(50% - 16px);
	}
.home::before{
	display: none;
}
	.logo{
		float: left;
	}
	#nav-icon4 .wad{
		display: none;
	}
.descr_footer{
	float: right;
}
li:hover .home{
	border-top: 2px solid #4acaff;
	border-left: 0;
}
li:hover .feedback{
	border-top: 2px solid #4acaff;
	border-left: 0;
}
li:hover .places{
	border-top: 2px solid #4acaff;
	border-left: 0;
}
li:hover .contacts{
	border-top: 2px solid #4acaff;
	border-left: 0;
}
.active{
	border-top: 2px solid #4acaff;
	border-left: 0;
}
	.header_menu a{
		padding-left: 0;
		padding-top: 20px;
	}
	#nav-icon4.open .header_menu{
		background:none;
		margin-top: -8px;
	}
	.buttons{
		flex-direction: row;
	}
	.header_menu{
		display: flex;
		flex-direction: row;
		margin: 0;
		width: 280px;
	}
	.header_menu li{
		margin: 0 8px;
		float: left;
		display: block;
	}
	#nav-icon4{
	float: right;
}
}
@media (min-width: 820px){
	.info_block{
		padding-top: 0;
		margin: 16px 8px;
		float: left;
		width: calc(33.3333% - 16px);
	}
}
@media (min-width: 920px){
	header{
		background-size: 100%;
		background-position: center;
	}
}